{% section 'product-template' %}
{% section 'product-recommendations' %}
{% section 'recently-viewed-products' %}
<!-- BeeAppAliReview -->
<div id="ba-alie-prd-id" style="float: left; clear: both; width: 100%" data-id="{{product.id}}"></div>{{shop.metafields.beeapp_space.ali_review_list}}